<div>
	<h1>Admin</h1>
	<h3>Welcome admin <button type="button" class='btn btn-default' onclick="location.href='logout';">Logout!</button></h3>
	<hr>
	
	<uib-tabset active="active">
		<uib-tab index="0" heading="Companies" select="view.tab1Shown = !view.tab1Shown" deselect="view.tab1Shown = !view.tab1Shown">
			<div ui-grid="companies" class="grid" ng-if="view.tab1Shown"></div>
		</uib-tab>
		<uib-tab index="1" heading="Customers" select="view.tab2Shown = !view.tab2Shown" deselect="view.tab2Shown = !view.tab2Shown">
			<div ui-grid="customers" class="grid" ng-if="view.tab2Shown"></div>
		</uib-tab>

	</uib-tabset>
</div>