<div class="modal-header">
	<h4>{{isNew}} {{clientType}} Information</h4>
</div>
<form name="clientDialog" ng-submit="ok()">
<div class="modal-body">

	<div ng-show="selectedRow.ClientId">
		<label>ID: {{selectedRow.ClientId}}</label>
	</div>
	<br>
	<div>
		<label for="name">Name:</label>
		<input id="name" type="text" class="form-control" ng-model="selectedRow.ClientName" required>
	</div>
	<br>
	<div ng-show="clientType == 'Company'">
		<label for="email">Email:</label>
		<input id="email" type="text" class="form-control" ng-model="selectedRow.CompanyEmail" required>
	</div>
	<br>
	<div>
		<label for="password">Password:</label>
		<input id="password" type="password" class="form-control" ng-disabled="!passwordChecked && !isNew" ng-model="password" required>
		<span ng-hide="isNew">Change Password: <input type="checkbox" ng-model="passwordChecked"></span>
	</div>
	
	

</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary btnCustom">OK</button>
	<button class="btn btn-primary btnCustom" ng-click="cancel()">Cancel</button>
</div>
</form>