<div class="modal-header">
	<h4>Coupon Information</h4>
</div>
<div class="modal-body">
	<div> 
	<label>ID: {{selectedRow.CouponId}}</label>
	</div>
	<div>
		<label for="title">Title:</label>
		<input id="title" type="text" class="form-control" ng-model="selectedRow.CouponTitle">
	</div>

	<div>
		<label for="message">Description:</label>
		<input id="message" type="text" class="form-control" ng-model="selectedRow.CouponMessage">
	</div>
	

	<div>
		<label for="startDate">Start Date:</label>
		<br>
		<button id="startDate" type="button" class="btn btn-default" ng-click="startDateCollapsed = !startDateCollapsed">
			{{selectedRow.CouponStartDate | date: 'yyyy-MM-dd'}}
		</button>
		<div uib-datepicker ng-model="selectedRow.CouponStartDate" uib-collapse="startDateCollapsed"></div>
	</div>

	<div>
		<label for="endDate">End Date:</label>
		<br>
		<button id="endDate" type="button" class="btn btn-default" ng-click="endDateCollapsed = !endDateCollapsed">
			{{selectedRow.CouponEndDate | date: 'yyyy-MM-dd'}}
		</button>
		<div uib-datepicker ng-model="selectedRow.CouponEndDate" uib-collapse="endDateCollapsed"></div>
	</div>

	<div>
		<label for="amount">No. of Coupons:</label>
		<input id="amount" type="number" class="form-control" ng-model="selectedRow.CouponAmount" min="0" max="9999">
	</div>

	<div>
		<label for="couponType">Type:</label>
		<select id="couponType" class="form-control" ng-options="type for type in couponTypes" ng-model="selectedRow.CouponType"></select>
	</div>

	<div>
		<label for="price">Price:</label>
		<input id="price" class="form-control" type="number" ng-model="selectedRow.CouponPrice" min="0" max="9999">
	</div>

	<div>
		<form action="rest/upload" method="post" enctype="multipart/form-data">
			<input type="file" name="file" accept="image/*" class="btn btn-default">
			<input type="submit" value="Upload Image" class="btn btn-default"/>
		</form>
	</div>

	<div>Image:</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary btnCustom" ng-click="ok()">OK!</button>
	<button class="btn btn-primary btnCustom" ng-click="cancel()">Cancel</button>
</div>
