<div style="width: 35%; margin: auto">


    <form name="loginForm" ng-submit="login(username, password, clientType)">
        <label for="username">User Name:</label>
        <input type="text" class="form-control" id="username" ng-model="username" placeholder="Enter login name"
               required><br/>
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" ng-model="password" placeholder="Enter password"
               required><br/>

        <legend>Login As:</legend>
        <input type="radio" ng-model="clientType" value="COMPANY"> Company
        <input type="radio" ng-model="clientType" value="CUSTOMER"> Customer
        <input type="radio" ng-model="clientType" value="ADMIN"> Admin
        <br/>
        <input type="submit" class="btn btn-default" value="Login">
    </form>


</div>
